body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: blueviolet;
    box-sizing: border-box;
    
    
}

h1{
    color: rgb(51, 2, 21);
}

button{
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    background:#00ffb8
}

#result{
    margin-top: 20px;
    font-size: 18px;
}

#score{
    margin-top: 40px;
    border-top: 2px solid #333;
    padding-top: 20px;
}

#score h2{
    margin-bottom: 10px;
}